* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "nunito", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  scroll-behavior: smooth;
}

#fullWrapper {
  position: relative;
}
.fa-arrow-left {
  position: absolute;
  left: 0;
  top: 50%;
  margin-inline: -2em;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(91, 91, 91);
  cursor: pointer;
}
.fa-arrow-right {
  font-size: x-large;
  font-weight: bolder;
  position: absolute;
  right: 0;
  top: 50%;
  margin-inline: -2em;
  color: rgb(91, 91, 91);
  cursor: pointer;
}

.readMore {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline;
  color: darkslategray;
  width: 100%;
  text-align: left;
  margin-top: 1em;
}

#arrowRight:hover {
  color: rgb(20, 20, 20);
  transform: scale(1.1);
}
#arrowLeft:hover {
  color: rgb(20, 20, 20);
  transform: scale(1.1);
}

.testimonials::-webkit-scrollbar {
  display: none;
}
.testimonials::-moz-scrollbar {
  display: none;
}
.testimonials::-o-scrollbar {
  display: none;
}
.testimonials::-ms-scrollbar {
  display: none;
}
.testimonials {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.testimonials {
  display: flex;
  gap: 2em;
  scroll-behavior: smooth;
  overflow-x: scroll;
  max-width: calc(100vw - 8em);
  -webkit-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

img {
  max-width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
.stars {
  color: rgb(240, 240, 9);
  font-size: 1.5rem;
}

.testimonialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  max-width: 20rem;
  line-height: 1.8em;
  min-width: 20rem;
  -webkit-scroll-snap-align: start;
  -ms-scroll-snap-align: start;
  scroll-snap-align: start;
}

.headingTopLayout {
  display: flex;
  flex-direction: row;
}
.testimonial-header {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
  margin-top: 1em;
}
.testimonial-header p {
  font-size: smaller;
  font-style: italic;
}

.reviewContent {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 9rem;
  text-align: left;
  margin-top: 0.3em;
  position: relative;
  transition: max-height 0.4s ease-in-out;
}
.toggleContent:hover {
  text-decoration: underline;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .testimonials {
    max-width: calc(100dvw - 8em);
  }
  .testimonialCard {
    min-width: 15rem;
  }
  img {
    width: 85px;
    height: 85px;
    aspect-ratio: 1/1;
  }
}
